
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 50px;
}

#um{
    min-height: 50px;
    width: 100px;
    background-color: red;
}

#dois {
    height: 15vh;
    width: 80%;
    background-color: blue;
}

span{
    color: red;
    font-weight: 900;
    background-color: lightblue;

}
